.c-button {
  &__white {
    background-color: white;
    border: 1px solid $main-lightgray;
    color: $main-gray;
  }
  &__orange {
    background-color: $main-orange;
    color: white;
  }
  &__commonWidth {
    width: 110px;
    padding: 7.5px 0;
  }
}
