.c-link {
  &__lightgray {
    color: $main-lightgray;
    text-decoration: none;
    &:hover {
      color: $main-lightgray;
      text-decoration: none;
    }
  }

  &__black {
    color: $main-black;
    text-decoration: none;
    &:hover {
      color: $main-black;
      text-decoration: none;
    }
  }

  &__gray {
    color: $main-gray;
    text-decoration: none;
    &:hover {
      color: $main-gray;
      text-decoration: none;
    }
  }
}
